.App {
  width: 1900 px;
  font-size: 11 px;
}

.LoginButton {
  float: right;
  padding-top: 1% ;
  padding-right: 20%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: left;
}

.Filter {
  align: left;
  padding-left: 25px;
  padding-top: 15px;
  height: 40px;
}

.Column {
  overflow: scroll;
  height:100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  float: left;
  background-color: white;
  border-right: 1px solid #cccccc;
  max-height: 1500px;
}


.MemoryDetailContainer {
  width: 220px;
  float: left;
  background-color: #fcfcfc;
}

.MemoryDetailTitle {
  font-family: 'IBM Plex Serif', serif;
  /* font-family: 'IBM Plex San-Serif', sans-serif; */
  font-weight: 500;
  padding-left: 25px;
  padding-right: 20px;
}

.MemoryDetailBody {
  font-family: 'IBM Plex Sans-Serif', sans-serif;
  font-weight: 300;
  padding-left: 25px;
  padding-right: 20px;
}


.CurrentMemoryContainer {
  padding-right: 25px;
  float: left;
  width: 500px;
}

.Registration {
  text-align: center;
  align: left;
  margin: auto;
  width: 200px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  padding: 10px;
}

.RegisterType {
  font-size: 12px;
  font-style: helvetica-light;
}

.Login {
  text-align: center;
}

.LoginButton {
  font-size: 12px;
}

.ContinueButton {
  height: 300px;
  width: 100px
}


.SearchBar {
  padding-left: 25px;
  padding-top: 10px;
  width: 200px;
}

.MemoryDetail {
  border-top: 1px solid #f7f7f7;
}

.NavBar {
  border-right: 1px solid #f7f7f7;
}

.currentMemoryTitle {
  font-family: 'IBM Plex Serif', serif;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 10px;
  font-size: 20px;
}

.currentMemory {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  padding-left: 75px;
  padding-right: 35px;
  font-size: 16px;
}

.edButtons {
  align-content: right;
  padding-left: 25px;
}

.MemoryForm {
  width: 380px;

}

.DeleteButton {
  font-family: 'Standard';
  padding-left: 70px;
}

.AddButton {
  font-family: 'Standard';
  padding-left: 30px;
}

.TextFields {
  font-family: 'IBM Plex Serif', serif;
  padding-left: 25px;
  font-size: 14px;
}

.BodyTextField {
  font-family: 'IBM Plex Serif', serif;
  width: 300px;
}


.editBody {
  width: 425px;
  padding-left: 75px;
}

.editTitle {
  width: 425px;
  padding-left: 75px;
}

@font-face {
  font-family: 'Standard';
  font-style: normal;
  src: url('./fonts/ss-standard.otf');
}

@font-face {
  font-family: 'BlackTie';
  font-style: normal;
  src: url('./fonts/ss-black-tie-light.otf');
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
