.App {
  text-align: center;
}

.LoginButton {
  float: right;
  padding-top: 1% ;
  padding-right: 20%
}

.Login {
  padding-top: 5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: left;
}

.MemoryDetailContainer {
  float: left;
}

.MemoryContainer {
  align-items: center;
}

.MemoryForm {
  float: right;
}

.Registration {
  padding-top: 40 px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
