.App {
  width: 1900 px;
  font-size: 11 px;
}

.LoginButton {
  float: right;
  padding-top: 1% ;
  padding-right: 20%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: left;
}

.Filter {
  align: left;
  padding-left: 40px;
  padding-top: 15px;
  border: solid;
  height: 40px;
}

.MemoryDetailContainer {
  width: 180px;
  float: left;
  border: solid;
}

.MemoryContainer {
  float: left;
  width: 380px;
  border: solid;
}

.MemoryForm {
  float: left;
  width: 425px;
  border: solid;
}

.Registration {
  font-family: 'Roboto', 300, sans-serif;
  font-size: 16 px;
  text-align: center;
  align: left;
  margin: auto;
  width: 200px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  padding: 10px;
}

.RegisterType {
  font-size: 12px;
  font-style: helvetica-light;
}

.Login {
  text-align: center;
}

.LoginButton {
  font-size: 12px;
}

.ContinueButton {
  height: 300px;
  width: 100px
}


.SearchBar {
  border: dotted;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
